<footer class="p-4 bg-dark-green text-white mt-auto border-top border-1 border-secondary-subtle">
    <div class="container">
        <div class="row row-cols-3 align-items-stretch">
            <div class="col">
                <div class="h-100">
                    <nav class="h-100 d-flex flex-column justify-content-center gap-1">
                        <a href="ofertas" class="nav-link">Ofertas</a>
                        <a href="juntepontos" class="nav-link">Juntar Pontos</a>
                        <a href="/usuario/contato" class="nav-link">Contato</a>
                    </nav>
                </div>
            </div>
            <div class="col">
                <div class="h-100">
                    <nav class="h-100 d-flex flex-column justify-content-center gap-1">
                        <a href="/" class="nav-link">Dúvidas Frequentes</a>
                        <a href="politicaprivacidade" class="nav-link">Política de Privacidade</a>
                        <a href="termosdeuso" class="nav-link">Termos de Uso</a>
                    </nav>
                </div>
            </div>
            <div class="col">
                <div class="h-100 d-flex flex-column justify-content-center gap-2">
                    <form action="/cadastrarnews" method="post">
                        <div class="text-start">
                            <label for="email" class="small">Assine nossa newsletter!</label>
                            <div class="input-group input-group-sm">
                                <style>
                                    .btn-primary.dark {
                                        --bs-btn-bg: #1078A8 !important;
                                        --bs-btn-border-color: #1078A8 !important;
                                        --bs-btn-hover-color: #fff;
                                        --bs-btn-hover-bg: #196588 !important;
                                        --bs-btn-hover-border-color: #196588 !important;
                                    }
                                </style>
                                <input type="email" class="form-control bg-secondary-subtle rounded-start-2"
                                    placeholder="Digite seu e-mail aqui" id="email" />
                                <button class="btn btn-primary dark" type="submit">
                                    Assinar
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex gap-3 justify-content-start">
                        <a href="/" class="text-decoration-none text-white">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="/" class="text-decoration-none text-white">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="/" class="text-decoration-none text-white">
                            <i class="bi bi-tiktok"></i>
                        </a>
                        <a href="/" class="text-decoration-none text-white">
                            <i class="bi bi-twitter-x"></i>
                        </a>
                        <a href="/" class="text-decoration-none text-white">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>