<footer class="p-4 bg-dark-green text-white border-top border-1 border-secondary-subtle">
    <div class="container mt-3 mb-3">
        <div class="h-100 d-flex justify-content-between align-items-center">
            <a href="" class="nav-link">Dúvidas Frequentes</a>
            <a href="/empresa/politicaprivacidade" class="nav-link">Política de Privacidade</a>
            <a href="/empresa/termosdeuso" class="nav-link">Termos de Uso</a>
            <a href="/empresa/contato" class="nav-link">Contato</a>
        </div>
    </div>
</footer>
</body>