<header class="row"></header>

    <nav class="navbar navbar-expand-md text-black bg-green p-3">
        <div class="container">
            <div class="row w-100 d-flex">
                    <div class="col-6">
                        <a class="" href="login">
                            <img src="/static/img/logo_carbonio.svg" alt="logotipo" height="80px">
                        </a>
                    </div>
                    <div class="col-6  d-flex align-items-center justify-content-end">
                        <a href="/login" class="text-black text-decoration-none">
                            <i class="bi bi-box-arrow-left fs-4"> Sair</i>
                        </a>
                    </div>
            </div>
        </div>
    </nav>
</header>