{% extends "shared/pages/base_centrocoleta.html" %}

{% from "shared/pages/macros.html" import input_text, input_email, input_date, input_password, input_textarea, input_select, input_radios, input_switch %}


{% block subtitulo %} perfil centro de coleta {% endblock %}

{% block conteudo %}

<body class="loginbody">
        <div class="container flex-fill d-flex flex-column justify-content-center">
                <div class="d-flex flex-column text-center align-items-center">
                    <div class=" mt-3 mb-3">
                        <h3>Adicionar Créditos</h3>
                    </div>
                    
                        <form action="/post_cadastrar_creditos" class="col-6 mb-3 p-3 rounded-3  bg-light" method="post">
                            {{input_text('nome', 'Nome', 'data-mask="nome"', '', 'form-group mb-3 w-75 mx-auto')}}
                            {{input_text('cpf', 'CPF', 'data-mask="cpf"', '', 'form-group mb-3 w-75 mx-auto')}}
                            {{input_text('credito', 'Créditos', '', '', 'form-group mb-3 w-75 mx-auto')}}
                            <button type="submit" class="btn btn-success w-75">Adicionar</button>
                        </form>
                </div>
            </div>
    </div>
</body>

{% endblock %}
