/*.page-link {
    color: var(--bs-danger);
    background-color: var(--bs-white);
    border: 1px solid var(--bs-danger);
}

.page-link:hover {
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border: 1px solid var(--bs-danger);
}

.page-link.active,
.page-link.active:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}

.table td,
.table th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}*/




body {
    background-color: #eef3e3;
    
}

/*login*/

.card_produto{
    background-color: #c1edad;
}

.bg_codigo{
    background-color: #00241B;
}

.loginbody{
    background-color: #00241B;
}

.bg_produto{
    background-color: #00241B;
}
/* Página comeceaqui*/

.body_comeceaqui{
    background-image: url('/static/img/comeceaqui.png');
    background-size: cover;      
}
.icon-circle {
    background-color: #6cdb8f;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
    margin-bottom: 15px;
}
.step {
    background-color: #a4e1b7;
}

/* Página perfilempresa*/

.body_perfilempresa{
    background-image: url("/static/img/fundo usuario.png");
    background-size: cover;
}

.profile_header{
    background-color: #2d3d30;
}

.form-container {
    background-color: #2f4f2f; 
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
}

/*.content {
    padding: 20px;
    background-color: #f6ffe3;
}

.content .store{
    display: inline-block;
}

.content h2 {
    margin-top: 0;
}



hr {
    border: 2px solid black;
}
*/

.body_index {
    background-image: url("/static/img/index_verde.png");
    background-size: cover;
}


.body_index .enter_button button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

.body_index .enter_button button:hover {
    background-color: #003300;
    color: white;
}

.body_paginaADM .enter_button button {
    background-color: #8fc866;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    width: 250px;
}

.body_paginaADM .enter_button button:hover {
    background-color: #003300;
    color: white;
}

.header .search-container i {
    font-size: 20px;
    float: left;
}

.header {
    background-color: #8fc866;
}

.header .search-container input[type="text"] {
    float: left;
    padding: 10px;
    width: 500px;
    border: none;
    border-radius: 5px;
}

.header .menu a {

    color: black;
    text-decoration: none;
    font-weight: bold;
}

.header .menu a:hover {
    text-decoration: underline;
}

.header .elements {
    padding-top: 15px;
    font-size: 20px;
}

.header .user-info {
    display: flex;
    align-items: center;
    color: white;
}

.header .user-info i {
    color: black;
    font-size: 30px;
}

.header .user-info span {
    font-size: 20px;
}

.header .basket-icon {
    font-size: 60px;
    padding: 15px 15px 10px 50px;
    margin-right: 200px;
}

.header .user-info span {
    margin-left: 10px;
    color: black;
}

.header .form-control {
    width: 900px;
    height: 50px;
    background-color: #f6ffe3;
}



.footer {
    background-color: #003300;
    color: white;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .links1 a,
.links2 a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


.footer .newsletter {
    display: flex;
    align-items: center;
}

.footer .newsletter input[type="email"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

.footer .social-media a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
}


.index .img {
    text-align: center;
}

