{% extends "shared/pages/base_admin.html" %}
{% from "shared/pages/macros.html" import input_text, input_email, input_date, input_password, input_textarea, input_select, input_radios, input_switch %}
{% block subtitulo %}Editar perfil empresa{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<main>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <h1>Adicione uma empresa</h1>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <img src="/static/img/logo_carbonio.svg" alt="Logo Carbonio" height="80px">
            </div>
        </div>
    </div>
    <hr>
    <div class="container d-flex ">
        <div class="form w-50">
            <form action="/admin/post_cadastrar_empresa" class="col-12" method="post">
                {{ input_text('nome', 'Nome Fantasia', 'data-mask="nome"', '', 'form-floating mb-3')}}
                {{ input_text('cnpj', 'CNPJ', 'data-mask="cnpj"', '', "form-floating mb-3")}}
                {{ input_email('email', 'Email', '', '', "form-floating mb-3")}}
                {{ input_text('telefone', 'Telefone', 'data-mask="telefone"', '', "form-floating mb-3")}}
                {{ input_text('cep', 'CEP', '', '', "form-floating mb-3")}}
                {{ input_password('senha', 'Senha', '', '', "form-floating mb-3")}}
                {{ input_password('confsenha', 'Confirmar senha', '', '', "form-floating mb-3")}}
                <div class="mb-3">
                    <a href="index" class="text-decoration-none">
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </a>
                    <button type="submit" class="btn btn-success">Continuar</button>
                </div>
            </form>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            {% include "shared/includes/mensagem.html" with context %}
        </div>
    </div>
    <script src="/static/js/mascararCampos.js"></script>
</main>

{% endblock %}
