{% extends "shared/pages/base_admin.html" %}

{% block subtitulo %} Perfil admin {% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<body>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col d-flex align-items-center">
                <h1>Olá {{ usuario.nome }} </h1>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <img src="/static/img/logo_carbonio.svg" alt="Logo Carbonio" height="80px">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <a href="/login" class="text-black">
                    <i class="bi bi-box-arrow-left fs-1"></i>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        {% include "shared/includes/mensagem.html" with context %}
        <div class="row d-flex align-items-center p-3">
            <div class="col text-center enter_button ">
                <a href="/admin/addempresa">
                    <button type="button" class="btn btn-success fs-4">
                        <i class="bi bi-buildings"></i> Adicione uma empresa
                    </button>
                </a>
            </div>
            <div class="col text-center enter_button">
                <a href="/admin/addcentrocoleta">
                    <button type="button" class="btn btn-success fs-4">
                        <i class="bi bi-recycle"></i> Adicione um centro de coleta
                    </button>
                </a>
            </div>
        </div>
        <h1 class="mt-5 text-center">Empresas cadastradas</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between bg-light text-center">
                <div class="col"></div>
                <div class="col flex-grow-1"><strong>NOME</strong></div>
                <div class="col flex-grow-1"><strong>CNPJ</strong></div>
                <div class="col flex-grow-1"><strong>CEP</strong></div>
                <div class="col"><strong>AÇÕES</strong></div>
            </li>
        </ul>

        <ul class="list-group mt-0 mb-5">
            {% for empresa in empresas%}
                <li class="list-group-item d-flex justify-content-between align-items-center text-center">
                    <div class="flex-grow-1">
                        <i class="bi bi-buildings fs-4"></i>
                    </div>
                    <div class="col flex-grow-1">
                        {{empresa.nome}}
                    </div>
                    <div class="col flex-grow-1">
                        {{empresa.cnpj}}
                    </div>
                    <div class="col flex-grow-1">
                        {{empresa.cep}}
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-outline-secondary">Editar</a>
                        <a href="#" class="btn btn-outline-danger ml-2">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <h1 class="mt-5 text-center mt-5">Centros de coleta cadastradas</h1>
        <br>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between bg-light text-center">
                <div class="col"></div>
                <div class="col flex-grow-1"><strong>NOME</strong></div>
                <div class="col flex-grow-1"><strong>CNPJ</strong></div>
                <div class="col flex-grow-1"><strong>CEP</strong></div>
                <div class="col"><strong>AÇÕES</strong></div>
            </li>
        </ul>

        <ul class="list-group mt-0">
            {% for centrocoleta in centroscoleta%}
                <li class="list-group-item d-flex justify-content-between align-items-center text-center">
                    <div class="col flex-grow-1">
                        <i class="bi bi-recycle fs-4"></i>
                    </div>
                    <div class="col flex-grow-1">
                        {{centrocoleta.nome}}
                    </div>
                    <div class="col flex-grow-1">
                        {{centrocoleta.cnpj}}
                    </div>
                    <div class="col flex-grow-1">
                        {{centrocoleta.cep}}
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-outline-secondary">Editar</a>
                        <a href="#" class="btn btn-outline-danger ml-2">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock %}