{% extends "shared/pages/base.html" %}

{% block subtitulo %}Lojas{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<main>
    <div class="container mt-3">
        <h2>Lojas</h2>
    </div>
    <hr>
    <div class="container">
        <div class="row gap-2">
            {% for loja in lojas %}
            <div class="col-auto">
                <a href="">
                    <div class="card border-2 border-black">
                        <img src="/static/img/lojas/{{ loja.id }}.png" alt=" {{ loja.nome }}">
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</main>

{% endblock %}