{% extends "pages/base.html" %}

{% block subtitulo %}Lojas{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<main>
    <div class="container mt-3">
        <h2>Lojas</h2>
    </div>
    <hr>
    <div class="container">
        <div class="row gap-2">
            <div class="col-auto">
                <a href="">
                    <div class="card border-2 border-black">
                        <img src="/static/img/adidas.png" alt="">
                    </div>
                </a>
            </div>
            <div class="col-auto">
                <a href="">
                    <div class="card border-2 border-black">
                        <img src="/static/img/nike.png" alt="">
                    </div>
                </a>
            </div>
            <div class="col-auto">
                <a href="/store">
                    <div class="card border-2 border-black">
                        <img src="/static/img/DG.png" alt="" class=" rounded-2">
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}