{% extends "shared/pages/base.html" %}

{% block subtitulo %}Cupom{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<body>
    <div class="container d-flex mt-3 mb-3">
        <div class="mt-4 mb-4">
            <a href="/consumidor/store" class="text-decoration-none">
                <i class="seta bi bi-arrow-left text-black fs-1"></i>
            </a>
        </div>
        <div class="d-flex mt-4 ms-5">
            <h1>15% off em Creatinas</h1>
        </div>

    </div>

    <div class="bg_produto container d-flex  align-items-center mt-3 rounded-2">
        <div class="col"></div>
        <div class="col-md-4 d-flex justify-content-center bg-white">
            <img src="/static/img/creatina.png" class="cupom" alt="Creatina">
        </div>
        <div class="col"></div>
        <div class="col-md-6">
            <div class="text-white m-4">
                <h3 class="mb-3">5 pontos</h3>
                <p>Creatina é um nutriente envolvido na produção de energia que abastece as células musculares. A
                    suplementação de creatina em geral é realizada por quem visa aumentar a capacidade muscular e suas
                    funções.</p>
                <button class="btn btn-light mt-3">Comprar agora</button>
                <a href="carrinho">
                    <button class="btn btn-success mt-3">Adicionar ao carrinho</button>
                </a>
            </div>
        </div>
        <div class="col"></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}