{% extends "shared/pages/base.html" %}

{% block subtitulo %}Carrrinho{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<main>
    <div class="container mt-3 d-flex align-items-center">
        <a href="perfil" class="text-decoration-none me-5">
            <i class="seta bi bi-arrow-left text-dark fs-1"></i>
        </a>
        <h2>Reembolso</h2>
    </div>
    <hr>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center mt-5">
            <div class="form-check ms-3">
                <input class="form-check-input" type="checkbox" id="checkbox1">
            </div>
            <div class="col-2 d-flex justify-content-center">
                <img src="/static/img/DG.png" alt="DG Suplementos" title="DG Suplementos">
            </div>
            <div class="col-8">
                <h3>15% off em creatinas</h3>
                <p>
                    Creatina é um nutriente envolvido na produção de energia que abastece as células musculares. A
                    suplementação de creatina em geral é realizada por quem visa aumentar a capacidade muscular e suas
                    funções.
                </p>
            </div>
            <div class="col-2 d-flex justify-content-center ">
                <p>QTD <br> Preço</p>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="form-check ms-3">
                <input class="form-check-input" type="checkbox" id="checkbox1">
            </div>
            <div class="col-2 d-flex justify-content-center">
                <img src="/static/img/nike.png" alt="Nike" title="Nike">
            </div>
            <div class="col-8">
                <h3>10% off em qualquer produto</h3>
                <p>
                    10% de desconto em qualquer produto da loja Nike.
                </p>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <p>QTD <br> Preço</p>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-end gap-3">
            <a href="perfil">
                <div class="btn btn-success">
                    Solicitar reembolso
                </div>
            </a>
        </div>
    </div>
</main>
{% endblock %}