{% extends "shared/pages/base.html" %}

{% block subtitulo %}Loja{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<main>
    <div class="container mt-3 d-flex justify-content-between align-items-center">
        <div>
            <a href="/consumidor/index" class="text-decoration-none">
                <i class="seta bi bi-arrow-left text-dark fs-1"></i>
            </a>
        </div>
        <div>
            <h2>DG Suplementos</h2>
        </div>
        <div>
            <img class=" rounded-circle " src="/static/img/DG.png" alt="">
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 d-flex align-items-stretch gap-4">
                <a href="paginaproduto" class="text-decoration-none">
                    <div class="card text-center text-white bg-dark mt-3 mb-3">
                        <img src="/static/img/creatina.png" alt="" class=" rounded-1">
                        <h3>15% off em creatina</h3>
                    </div>
                </a>
                <a href="paginaproduto" class="text-decoration-none">
                    <div class="card text-center text-white bg-dark mt-3 mb-3">
                        <img src="/static/img/pré treino.png" alt="" class=" rounded-1">
                        <h3>5% off em pré treino</h3>
                    </div>
                </a>

            </div>
        </div>
    </div>
</main>
{% endblock %}