{% extends "shared/pages/base_empresa.html" %}

{% block subtitulo %} Adicionar cupons {% endblock %}

{% block conteudo %}
    <link rel="stylesheet" href="/static/css/estilos.css">

<main>
    <div class="container form-container">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="nome" class="form-label text-white">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="preco" class="form-label text-white">Preço</label>
                    <input type="text" class="form-control" id="preco" placeholder="Preço">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label text-white">Descrição</label>
            <textarea class="form-control" id="descricao" rows="3" placeholder="Descrição"></textarea>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/static/img/mikasa.png" alt="Produto" class="product-image">
            </div>
            <div class="col-md-6 d-flex align-items-end">
                <button type="button" class="btn btn-outline-light w-100">Adicionar</button>
            </div>
        </div>
    </div>
</main>

{% endblock %}