{% extends "shared/pages/base_empresa.html" %}

{% from "shared/pages/macros.html" import input_text, input_email, input_date, input_password,
input_textarea,input_select, input_radios, input_switch %}

{% block subtitulo %} Adicionar cupons {% endblock %}

{% block conteudo %}
<link rel="stylesheet" href="/static/css/estilos.css">

<main class="flex-fill d-flex flex-column">
    <div class="container mt-3 d-flex align-items-center">
        <a href="index" class="text-decoration-none me-5">
            <i class="seta bi bi-arrow-left text-dark fs-1"></i>
        </a>
        <h2>Adicionar cupom</h2>
    </div>
    <hr>
    <div class="container flex-fill d-flex flex-column justify-content-center">
        <div class="bordered rounded-3 bg-darkgreen p-3 offset-3 col-6">
            <form action="/empresa/cadastrar_cupom" method="post">
                <div class="row">

                    <div class="col-6">
                        <div class="mb-3 ">
                            {{input_text('nome', 'Nome do cupom', '', '')}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            {{input_text('valor', 'Preço')}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            {{input_textarea('descricao', 'Descrição do cupom')}}
                        </div>
                    </div>
                    <div class="col-6 d-flex align-items-end">
                        <button type="submit" class="btn btn-outline-light w-100">Adicionar</button>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-end mt-3">
                <input type="file" name="imagem">
            </div>
        </div>
    </div>
    <script src="/static/js/mascararCampos.js"></script>
</main>

{% endblock %}