{% extends "shared/pages/base_empresa.html" %}

{% block subtitulo %} Cupons Ativos{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<div class="container mt-3 d-flex align-items-center">
    <a href="index" class="text-decoration-none me-5">
      <i class="seta bi bi-arrow-left text-dark fs-1"></i>
    </a>
    <h2>Cupons ativos</h2>
  </div>
    <hr>
    <div class="container flex-fill">
        {% for cupom in cupons %}
        <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="col-2 d-flex justify-content-center">
                <img src="/static/img/cupons/{{cupom.id}}.png" alt="{{cupom.nome}}" title="{{cupom.nome}}">
            </div>
            <div class="col-8">
                <h3> {{cupom.nome}} </h3>
                <p>
                    {{cupom.descricao}}
                </p>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <p>Valor <br> {{cupom.Valor}} pontos </p>
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
</main>
{% endblock %}