{% extends "shared/pages/base_empresa.html" %}

{% block subtitulo %} Cupons Ativos{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<div class="container mt-3 d-flex align-items-center">
    <a href="index" class="text-decoration-none me-5">
      <i class="seta bi bi-arrow-left text-dark fs-1"></i>
    </a>
    <h2>Cupons ativos</h2>
  </div>
    <hr>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="col-2 d-flex justify-content-center">
                <img src="/static/img/DG.png" alt="DG" title="DG">
            </div>
            <div class="col-8">
                <h3>15% off em creatinas</h3>
                <p>
                    15% off em creatinas
                </p>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <p>QTD <br> Preço</p>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="col-2 d-flex justify-content-center">
                <img src="/static/img/nike.png" alt="Nike" title="Nike">
            </div>
            <div class="col-8">
                <h3>10% off em qualquer produto</h3>
                <p>
                    10% de desconto em qualquer produto da loja Nike.
                </p>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <p>QTD <br> Preço</p>
            </div>
        </div>
        <hr>
    </div>
</main>
{% endblock %}