{% extends "shared/pages/base_empresa.html" %}

{% from "shared/pages/macros.html" import input_text, input_email, input_date, input_password, input_textarea,input_select, input_radios, input_switch %}

{% block subtitulo %}Editar perfil empresa{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<main class="flex-fill">
    <div class="container mt-3 d-flex align-items-center">
        <a href="index" class="text-decoration-none me-5">
          <i class="seta bi bi-arrow-left text-dark fs-1"></i>
        </a>
        <h2>Editar perfil</h2>
      </div>
    <hr>
    <div class="container">
        <div class="form w-50">
            <form action="atualizar_dados" method="post" class="col-12">
                    {{input_text('nome', 'Nome Fantasia', '', dados.nome )}}
                    {{input_text('cnpj', 'CNPJ', 'data-mask="cnpj"', dados.cnpj)}}
                    {{input_text('email', 'E-mail', 'data-mask="email"', dados.email)}}
                    {{input_text('telefone', 'Telefone', 'data-mask="telefone"', dados.telefone)}}
                    {{input_text('cep', 'CEP', 'data-mask= "cep"', dados.cep)}}
                <div class="mb-3">
                    <a href="/empresa/index" class="text-decoration-none">
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </a>
                    <button class="btn btn-success">salvar</button>
                </div>
                
            </form>
        </div>
    </div>
</main>
<script src="/static/js/mascararCampos.js"></script>


{% endblock %}