{% extends "shared/pages/base_empresa.html" %}

{% block subtitulo %}Editar perfil empresa{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<main>
    <div class="container mt-3">
        <h2>Edite o perfil da empresa</h2>
    </div>
    <hr>
    <div class="container">
        <div class="form w-50">
            <form action="" class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nome" placeholder=" ">
                    <label for="nome">Nome Fantasia</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nome" placeholder=" ">
                    <label for="nome">CNPJ</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea name="endereço" id="endereço" class="form-control" style="height: 120px" placeholder=" "></textarea>
                    <label for="mensagem">Endereço</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder=" ">
                    <label for="email">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="telefone" placeholder=" ">
                    <label for="telefone">Telefone</label>
                </div>
                
                <div class="mb-3">
                    <a href="perfilempresa">
                        <button class="btn btn-danger">cancelar</button>
                    </a>
                    <button class="btn btn-success">salvar</button>
                </div>
                
            </form>
        </div>
    </div>
</main>

{% endblock %}