{% extends "pages/base_3.html" %}

{% block subtitulo %}Começe aqui{% endblock %}

{% block conteudo %}

<style>
    body {
        background-image: url('static/img/comeceaqui.png');
        /* Substitua com a URL da imagem de fundo */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: center;
    }

    .icon-circle {
        background-color: #6cdb8f;
        border-radius: 50%;
        padding: 20px;
        display: inline-block;
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #6cdb8f;
        border-color: #6cdb8f;
    }

    .step {
        background-color: #a4e1b7;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>

<body>
    <div class="container">

        <nav class="nav justify-content-between fs-5 mt-5">
            <a class="nav-link text-white py-0" href="/ofertas">Ofertas</a>
            <a class="nav-link text-white py-0" href="/juntepontos">Juntar Pontos</a>
            <a class="nav-link text-white py-0" href="/contato">Contato</a>
        </nav>
    </div>
    <div class="container">
        <div class="content-container">
            <img src="static/img/carbonio branco.png" alt="carbonio" width="450">
            <h3>Aqui você pode juntar e usar pontos de graça</h3>
            <h5>Somos um programa de pontos. Isso significa que você pode economizar reciclando através dos nossos
                centros de coleta verificados. Seus pontos valem descontos, produtos e muito mais.</h5>
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="icon-circle">
                        <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="Cadastro" width="50">
                    </div>
                    <p>Crie o seu cadastro de graça</p>
                </div>
                <div class="col-md-3">
                    <div class="icon-circle">
                        <img src="static/img/porquinho.svg" alt="Resgate" width="50">
                    </div>
                    <p>Ganhe pontos ao entregar plástico</p>
                </div>
                <div class="col-md-3">
                    <div class="icon-circle">
                        <img src="static/img/cesta.svg" alt="Cupons" width="50">
                    </div>
                    <p>Use seus pontos para resgatar cupons</p>
                </div>
                <div class="col-md-3">
                    <div class="icon-circle">
                        <img src="static/img/dinheiro.svg" alt="Descontos" width="50">
                    </div>
                    <p>Troque seus cupons por descontos</p>
                </div>
            </div>

            <h2 class="mt-5">Como Usar?</h2>
            <div class="row justify-content-center mb-5">
                <div class="col-md-2 step">
                    <p>Procure um centro</p>
                </div>
                <div class="col-md-2 step">
                    <p>Entregue seu lixo</p>
                </div>
                <div class="col-md-2 step">
                    <p>Troque créditos por cupons</p>
                </div>
                <div class="col-md-2 step">
                    <p>Resgate descontos</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}