<!DOCTYPE html>
<html lang="pt-br">
{% from "shared/pages/macros.html" import input_text, input_email, input_date, input_password, input_textarea, input_select, input_radios, input_switch %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title>Cadastrar</title>
</head>

<body class="loginbody">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-10 col-sm-10 col-md-6 col-lg-4 justify-content-center">
                    <img src="static/img/carbonio branco.png" alt="" class="w-100">
                </div>
                <div class="col-10 col-sm-10 col-md-6 col-lg-4 text-center bg-light rounded-3">
                    <div class="mt-3">
                        {% include "shared/includes/mensagem.html" with context %}
                    </div>
                    <div class="mt-3">
                        <h3>Crie sua conta</h3>
                    </div>
                    
                    <p>Vamos criar sua conta, preencha os dados abaixo:</p>
                    
                    <form action="/post_cadastrar" class=" col-12 mb-3 justify-content-center" method="post">
                        {{ input_text('nome', 'Nome', 'data-mask="nome"')}}
                        {{ input_email('email', 'Email')}}
                        {{ input_text('cpf', 'CPF', 'data-mask="cpf"')}}
                        {{ input_date('data_nascimento', 'Data de Nascimento')}}
                        {{ input_text('telefone', 'Telefone', 'data-mask="telefone"')}}
                        {{ input_text('cep', 'CEP', 'data-mask="cep"')}}
                        {{ input_password('senha', 'Senha')}}
                        {{ input_password('confsenha', 'Confirmar senha')}}

                        <div class="mb-3">
                            <a href="login" class="text-black">Já tenho login</a>
                        </div>
                        <button type="submit" class="btn btn-success w-75">Finalizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/js/mascararCampos.js"></script>
</body>

</html>
