{% extends "/pages/base_2.html" %}

{% block subtitulo %}Página Inicial{% endblock %}

{% block conteudo %}



<main class="body_index min-vh-100">
    <nav class="navbar text-black bg-green p-3">
        <div class="container">
            <div class="row w-100 align-items-center">
                <div class="col-2">
                    
                </div>
                <div class="col-7">
                    <div class="d-flex flex-column justify-content-center gap-2">
                        <form action="/cadastrarnews" method="post">
                            <div class="text-start">
                                <div class="input-group">
                                    <input type="email" class="form-control bg-beige border-beige rounded-start-2"
                                        placeholder="Digite o termo da busca aqui" id="busca" />
                                    <button class="btn btn-beige" type="submit">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <nav class="nav justify-content-between fs-5">
                            <a class="nav-link text-white py-0" href="/store">Ofertas</a>
                            <a class="nav-link text-white py-0" href="/">Juntar Pontos</a>
                            <a class="nav-link text-white py-0" href="/">Comece Aqui</a>
                            <a class="nav-link text-white py-0" href="/contato">Contato</a>
                        </nav>
                    </div>
                </div>
                <div class="col-2">
                    
                </div>
                <div class="col-1">
                
                </div>
            </div>
        </div>
    </nav>
    <div class="img">
        <img src="/static/img/carbonioindex.png" alt="">

    </div>
    <div class="enter_button">
        <a href="/login">

            <button>Entrar</button>
        </a>

    </div>
</main>

{% endblock %}