{% extends "pages/base.html" %}

{% block subtitulo %}Junte pontos{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/estilos.css">

<body>
    <div class="container mt-5 mb-5">
        <h2>Juntar pontos</h2>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-8 fs-5">
                <p>Ganhe pontos ao utilizar nossos serviços e troque por benefícios exclusivos.</p>
                <br><br>
                <h2 class=" text-success">Encontre um centro perto de você</h2>
                <p class="sub-text">Utilize o mapa ao lado para encontrar o centro de coleta mais próximo e comece a
                    juntar seus pontos.</p>
            </div>
            <div class="col-md-4">
                <div>
                    <img src="/static/img/mapa.png" alt="" class=" rounded-2">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}