<style>
    body {
        background-color: #355F3C;
        color: white;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-container {
        display: flex;
        justify-content: space-between;
        background-color: #355F3C;
        border-radius: 8px;
        padding: flex;
        max-width: 800px;
        width: 100%;
    }
    .info {
        max-width: 400px;
    }
    .login-box {
        background-color: white;
        color: black;
        border-radius: 8px;
        padding: 20px;
        width: 300px;
        text-align: center;
    }
    .login-box button {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .container {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 300px;
    }
    
    h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }
    
    p {
        font-size: 14px;
        color: #666;
        margin-bottom: 20px;
    }
    
    desc {
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 20px;
    }
    
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        box-sizing: border-box;
    }
    
    button{
        background-color: #77b947;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
    }
    
    button:hover {
        background-color: #6da03f;
    }
    
</style>
</head>
<body>
    <div class="info">
        <h1><img src="static/img/carbonio branco.png"></h1>
        <p class="desc">Somos um programa de pontos. Isso significa que você pode economizar reciclando através dos nossos centros de coleta verificados. Seus pontos valem descontos, produtos e muito mais.</p>
    </div>
    <div class="container">
        <h2>Crie sua conta</h2>
        <p>Vamos começar a criar sua conta, preencha os dados abaixo:</p>
        <input type="text" placeholder="Nome fantasia">
        <input type="text" placeholder="CNPJ">
        <input type="text" placeholder="Email">
        <div class="button">
            <a href="/loginempresa2">
                <button>Continuar</button>
            </a>
        </div>
    </div>
</body>
</html>


