<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <title>Base para telas de login</title>
</head>

<body class="loginbody">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container ">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-sm-12 col-md-4 col-lg-3 justify-content-center">
                    <img src="static/img/carbonio branco.png" alt="" class="w-100">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 text-center bg-light rounded-3">
                    <div class=" mt-5">
                        <h3>Fazer login como:</h3>
                    </div>
                    
                        <p>Escolha se quer fazer login como empresa ou como consumidor</p>
                    
                    <div class="d-flex justify-content-center">
                        <a href="/loginempresa1" class=" w-75 mt-3">
                            <button type="button" class="btn btn-success w-100"> Empresa</button>
                        </a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/loginusuario1" class=" w-75 mt-3 mb-5">
                            <button type="button" class="btn btn-success w-100"> Consumidor</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-sm-12 col-md-8 col-lg-6 text-white text-center">
                    <p>Somos um programa de pontos. Isso significa que você pode economizar reciclando através dos
                    nossos
                    centros de coleta verificados. Seus pontos valem descontos, produtos e muito mais.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>