{% extends "pages/base.html" %}

{% block subtitulo %}Perfil do usuário{% endblock %}

{% block conteudo %}

    <style>
        body {
            background-image: url("/static/img/fundo usuario.png");
            background-size: cover;
            background-position: center;
        }
        .profile-header {
            background-color: #2d3d30;
            padding: 20px;
            border-radius: 10px;
            color: white;
            display: flex;
            align-items: center;
        }
        .profile-header img {
            border-radius: 50%;
            margin-right: 50px;
            width: 100px;
            height: 100px;
        }
        .profile-header h5 {
            margin: 0;
        }
        .icon-box {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.8);
        }
        .icon-box img {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }
        .icon-box p {
            margin: 0;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <!-- Cabeçalho do Perfil -->
        <div class="profile-header mb-4">
            <img src="static/img/foto.svg" alt="foto">
            <div>
                <h5>Nome da empresa</h5>
                <p>email</p>
                <a href="#" class="text-light">Editar perfil ></a>
            </div>
        </div>

        <!-- Ícones do Corpo -->
        <div class="row text-center">
            <div class="col-md-3">
                <div class="icon-box">
                    <img src="static/img/cupom.png" alt="Cupons ativos">
                    <p>Cupons ativos</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <img src="https://via.placeholder.com/50" alt="Estatísticas">
                    <p>Estatísticas</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <img src="https://via.placeholder.com/50" alt="Mensagens">
                    <p>Mensagens</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <img src="https://via.placeholder.com/50" alt="Adicionar Cupom">
                    <p>Adicionar cupom</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
