{% extends "base.html" %}

{% block subtitulo %}Loja{% endblock %}

{% block conteudo %}

<main>
    <div class="container">
        <h2>Lojas</h2>
        <hr>
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 d-flex align-items-stretch gap-4">
                <div class="card text-center bg-light">
                    <img src="/static/img/adidas.png" alt="">
                </div>

                <div class="card text-center bg-light">
                    <img src="/static/img/nike.png" alt="">
                </div>

                <div class="card text-center bg-light">
                    <img src="/static/img/DG.png" alt="">
                </div>
            
            </div>
        </div>
    </div>
</main>

{% endblock %}